<div class="mdl-grid">
<div class="mdl-cell mdl-cell--2-col mdl-cell--12-col-phone mdl-cell--12-col-tablet ">

  

   <ul class="demo-list-icon mdl-list">
  <li class="mdl-list__item">
    <span class="mdl-list__item-primary-content">
    <i class="material-icons">hourglass_full</i>
    <a href='#' routerLink="/upcoming" routerLinkActive="active">Upcoming </a>
</span>
  </li>
  <li class="mdl-list__item">
    <span class="mdl-list__item-primary-content">
    <i class="material-icons">remove_from_queue</i>
    <a href='#' routerLink="/runningintheater" routerLinkActive="active">Running</a>
  </span>
  </li>
  <li class="mdl-list__item">
    <span class="mdl-list__item-primary-content">
    <i class="material-icons">movie_filter</i>
    <a href='#' routerLink="/reviews" routerLinkActive="active">Reviews</a>
  </span>
  </li>
  <li class="mdl-list__item">
    <span class="mdl-list__item-primary-content">
   <i class="material-icons">flash_on</i>
    <a href='#' routerLink="/trailers" routerLinkActive="active">Trailers</a>
  </span>
  </li>
   <li class="mdl-list__item">
    <span class="mdl-list__item-primary-content">
    <i class="material-icons">library_music</i>
    <a href='#' routerLink="/musicvideos" routerLinkActive="active">Music Videos</a>
  </span>
  </li>

</ul>
 </div>
<div class="mdl-cell mdl-cell--9-col mdl-cell--12-col-phone mdl-cell--12-col-tablet ">
<button id="adbcd-menu-lower-left"
        class="mdl-button mdl-js-button mdl-button--icon mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
  <i class="material-icons">more_vert</i>
</button>

<ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect"
    for="adbcd-menu-lower-left">
  <li class="mdl-menu__item">Hollywood</li>
  <li class="mdl-menu__item mdl-menu__item--full-bleed-divider">Bollywood</li>
  <li class="mdl-menu__item">Kollywood</li>
  <li class="mdl-menu__item">Mollywood</li>
</ul>


<div class="mdl-grid">
  
  <div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-phone mdl-cell--12-col-tablet " *ngFor='let movie of upcomingmovies'>
  <div class="adbcd-card-square mdl-card mdl-shadow--2dp" >
  <div class="mdl-card__title mdl-card--expand" [ngStyle]="{'background': 'url(' + movie.imagepath + ') center/cover'}">

    <h2 class="mdl-card__title-text"></h2>
     </div>
  <div class="mdl-card__supporting-text">
 <a href='#' [routerLink]="['detail', movie.id]"> <h1>{{movie.title}}</h1></a>
  Release Date: {{movie.releasedate}}
  </div>
  <div class="mdl-card__actions mdl-card--border padding">
    <div class="material-icons mdl-badge mdl-badge--overlap ion" [class.red]="movie.stars" (click)='like(movie.id)' >favorite_border </div> <span>{{movie.starCount}}</span>
     <div class="material-icons mdl-badge mdl-badge--overlap ion">comment </div><span>{{movie.like}}</span>
  </div>
  
  <div class="mdl-card__menu">
    <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
      <i class="material-icons">share</i>
    </button>
  </div>

</div>
  </div>
</div>
</div>

</div>