<header class="header mdl-layout__header mdl-color-text--white mdl-color--light-blue-700">
    <div class="mdl-layout__header-row titlebar">
      <h3 class="logo">Sample application</h3>
      <button id="sign-out-button" class="mdl-button--raised mdl-button mdl-js-button mdl-js-ripple-effect" routerLink="/login" *ngIf='!sharedService.sharedvalue.signin' routerLinkActive="active"><i class="material-icons">account_circle</i> Sign In</button>
      <button id="sign-out-button" class="mdl-button--raised mdl-button mdl-js-button mdl-js-ripple-effect" *ngIf='sharedService.sharedvalue.signin'   (click)='logout()'><i class="material-icons">account_circle</i> Sign Out</button>
    </div>
   
    
    


    <!-- Navigation Bar -->
    <div class="tab mdl-layout__header-row mdl-color--light-blue-600">
      <div class="mdl-tab">
        <div id="menu-recent" class="mdl-layout__tab is-active mdl-button mdl-js-button mdl-js-ripple-effect">
          <i class="material-icons">new_releases</i> Recent
        </div>
        <div id="menu-my-posts" class="mdl-layout__tab mdl-button mdl-js-button mdl-js-ripple-effect">
          <i class="material-icons">home</i> My posts
        </div>
        <div id="menu-my-top-posts" class="mdl-layout__tab mdl-button mdl-js-button mdl-js-ripple-effect">
          <i class="material-icons">trending_up</i> My top posts
        </div>
        <button class="mdl-button mdl-js-button mdl-button--fab mdl-color--amber-400 mdl-shadow--4dp mdl-js-ripple-effect" id="add" *ngIf="sharedService.sharedvalue.signin" routerLink="/addmoviedata"  routerLinkActive="active">
          <i class="material-icons">mode_edit</i>
        </button>
      </div>
    </div>
  </header>

   <main class="mdl-layout__content mdl-color--grey-100">
  
   </main>