
 

  
<div class="mdl-grid">


<div class="mdl-cell mdl-cell--3-col mdl-cell--12-col-phone mdl-cell--12-col-tablet sidebar">
<div class='img-content'>
<img src='assets/images/munthiri.jpg'/>
</div>
</div>
 <div class="mdl-cell mdl-cell--3-col mdl-cell--12-col-phone mdl-cell--12-col-tablet">
</div>
 <div class="mdl-cell mdl-cell--7-col mdl-cell--12-col-phone mdl-cell--12-col-tablet ">
  <div class="adbcd-card-wide mdl-card mdl-shadow--2dp" [ngStyle]="{'background':'url(assets/images/munthiri.jpg)','height':'500px'}">  
  <div class="mdl-card__menu">
    <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
      <i class="material-icons">share</i>
    </button>
  </div>
</div>
 </div>

<div class="mdl-cell mdl-cell--3-col mdl-cell--12-col-phone mdl-cell--12-col-tablet">
</div>
 <div class="mdl-cell mdl-cell--9-col mdl-cell--12-col-phone mdl-cell--12-col-tablet">
 <p>Munthirivallikal Thalirkkumbol (English: When the Grapevines Sprout) is a 2017 Indian Malayalam domestic drama film directed by Jibu Jacob and written by M. Sindhuraj, loosely based on the Malayalam short story Pranayopanishath by V. J. James. Produced and distributed by Weekend Blockbusters of Sophia Paul, the film stars Mohanlal and Meena, respectively as Panchayat secretary Ulahannan and his wife Annyamma. The soundtrack feature songs composed by Bijibal and M. Jayachandran, and a film score by Bijibal. The film shows how Ulahannan, a middle aged man rediscover himself to overcome the boredom in his routine life.</p>

<p>Sindhuraj obtained the right for adapting Pranayopanishath from James when it was first published in a Malayalam magazine in 2011. In 2015, he was approached by Paul for screenwriting a film for Weekend Blockbusters, planned with Mohanlal in the lead role. He suggested a plot idea based on the short story and began developing the screenplay that year, with Jacob hired to direct the film. Principal photography commenced on 15 July 2016 in Kozhikode, Kerala where over 80 percent of the film was shot. Additional portions were shot at various locations in Alappuzha and concluded filming at Shimla in October 2016.</p>

<p>Munthirivallikal Thalirkkumbol was originally set for a Christmas opening, scheduled to be released on 22 December 2016 in India. But was delayed as the screening of Malayalam films were halted at the time due to an indefinite strike between the associations of theatres and producers in Kerala. After the strike, the film was re-scheduled and released in India on 20 January 2017.</p>
 </div>



<div class="mdl-cell mdl-cell--3-col mdl-cell--12-col-phone mdl-cell--12-col-tablet">
</div>
 <div class="mdl-cell mdl-cell--9-col mdl-cell--12-col-phone mdl-cell--12-col-tablet">
 <h3>Casting</h3>
 </div>


<div class="mdl-cell mdl-cell--3-col mdl-cell--12-col-phone mdl-cell--12-col-tablet">
</div>
 <div class="mdl-cell mdl-cell--9-col mdl-cell--12-col-phone mdl-cell--12-col-tablet text-center">
  <div class="mdl-grid">
  <div class="mdl-cell mdl-cell--3-col mdl-cell--12-col-phone mdl-cell--12-col-tablet">
  <div class="adbcd-card-image mdl-card mdl-shadow--2dp " [ngStyle]="{'background':'url(https://s6.postimg.org/oqy51je2p/mukesh_malayalam_actor.jpg) no-repeat center/cover'}">
  <div class="mdl-card__title mdl-card--expand"></div>
  <div class="mdl-card__actions">
    <span class="adbcd-card-image__filename">Image.jpg</span>
  </div>
</div>
</div>

 <div class="mdl-cell mdl-cell--3-col mdl-cell--12-col-phone mdl-cell--12-col-tablet">
  <div class="adbcd-card-image mdl-card mdl-shadow--2dp " [ngStyle]="{'background':'url(https://s6.postimg.org/oqy51je2p/mukesh_malayalam_actor.jpg) no-repeat center/cover'}">
  <div class="mdl-card__title mdl-card--expand"></div>
  <div class="mdl-card__actions">
    <span class="adbcd-card-image__filename">Image.jpg</span>
  </div>
</div>
</div>


 <div class="mdl-cell mdl-cell--3-col mdl-cell--12-col-phone mdl-cell--12-col-tablet">
  <div class="adbcd-card-image mdl-card mdl-shadow--2dp " [ngStyle]="{'background':'url(https://s6.postimg.org/oqy51je2p/mukesh_malayalam_actor.jpg) no-repeat center/cover'}">
  <div class="mdl-card__title mdl-card--expand"></div>
  <div class="mdl-card__actions">
    <span class="adbcd-card-image__filename">Image.jpg</span>
  </div>
</div>
</div>


 <div class="mdl-cell mdl-cell--3-col mdl-cell--12-col-phone mdl-cell--12-col-tablet">
  <div class="adbcd-card-image mdl-card mdl-shadow--2dp " [ngStyle]="{'background':'url(https://s6.postimg.org/oqy51je2p/mukesh_malayalam_actor.jpg) no-repeat center/cover'}">
  <div class="mdl-card__title mdl-card--expand"></div>
  <div class="mdl-card__actions">
    <span class="adbcd-card-image__filename">Image.jpg</span>
  </div>
</div>
</div>



 </div>  
</div>

<div class="mdl-cell mdl-cell--3-col mdl-cell--12-col-phone mdl-cell--12-col-tablet">
</div>
 <div class="mdl-cell mdl-cell--9-col mdl-cell--12-col-phone mdl-cell--12-col-tablet">
 <h3>Casting</h3>
 </div>


<div class="mdl-cell mdl-cell--3-col mdl-cell--12-col-phone mdl-cell--12-col-tablet">
</div>
 <div class="mdl-cell mdl-cell--9-col mdl-cell--12-col-phone mdl-cell--12-col-tablet text-center">
  <div class="mdl-grid">
  <div class="mdl-cell mdl-cell--3-col mdl-cell--12-col-phone mdl-cell--12-col-tablet">
  <div class="adbcd-card-image mdl-card mdl-shadow--2dp " [ngStyle]="{'background':'url(https://s6.postimg.org/oqy51je2p/mukesh_malayalam_actor.jpg) no-repeat center/cover'}">
  <div class="mdl-card__title mdl-card--expand"></div>
  <div class="mdl-card__actions">
    <span class="adbcd-card-image__filename">Image.jpg</span>
  </div>
</div>
</div>

 <div class="mdl-cell mdl-cell--3-col mdl-cell--12-col-phone mdl-cell--12-col-tablet">
  <div class="adbcd-card-image mdl-card mdl-shadow--2dp " [ngStyle]="{'background':'url(https://s6.postimg.org/oqy51je2p/mukesh_malayalam_actor.jpg) no-repeat center/cover'}">
  <div class="mdl-card__title mdl-card--expand"></div>
  <div class="mdl-card__actions">
    <span class="adbcd-card-image__filename">Image.jpg</span>
  </div>
</div>
</div>


 <div class="mdl-cell mdl-cell--3-col mdl-cell--12-col-phone mdl-cell--12-col-tablet">
  <div class="adbcd-card-image mdl-card mdl-shadow--2dp " [ngStyle]="{'background':'url(https://s6.postimg.org/oqy51je2p/mukesh_malayalam_actor.jpg) no-repeat center/cover'}">
  <div class="mdl-card__title mdl-card--expand"></div>
  <div class="mdl-card__actions">
    <span class="adbcd-card-image__filename">Image.jpg</span>
  </div>
</div>
</div>


 <div class="mdl-cell mdl-cell--3-col mdl-cell--12-col-phone mdl-cell--12-col-tablet">
  <div class="adbcd-card-image mdl-card mdl-shadow--2dp " [ngStyle]="{'background':'url(https://s6.postimg.org/oqy51je2p/mukesh_malayalam_actor.jpg) no-repeat center/cover'}">
  <div class="mdl-card__title mdl-card--expand"></div>
  <div class="mdl-card__actions">
    <span class="adbcd-card-image__filename">Image.jpg</span>
  </div>
</div>
</div>
 </div> 
</div>


<div class="mdl-cell mdl-cell--3-col mdl-cell--12-col-phone mdl-cell--12-col-tablet">
</div>
 <div class="mdl-cell mdl-cell--9-col mdl-cell--12-col-phone mdl-cell--12-col-tablet">
 <h3>Music Videos</h3>
 </div>


<div class="mdl-cell mdl-cell--3-col mdl-cell--12-col-phone mdl-cell--12-col-tablet">
</div>
 <div class="mdl-cell mdl-cell--9-col mdl-cell--12-col-phone mdl-cell--12-col-tablet text-center">
  <div class="mdl-grid">
  <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-phone mdl-cell--12-col-tablet">
  <div class="adbcd-card-image mdl-card mdl-shadow--2dp " [ngStyle]="{'background':'url(https://s6.postimg.org/oqy51je2p/mukesh_malayalam_actor.jpg) no-repeat center/cover'}">
  <div class="mdl-card__title mdl-card--expand"></div>
  <div class="mdl-card__actions">
    <span class="adbcd-card-image__filename">Image.jpg</span>
  </div>
</div>
</div>

 <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-phone mdl-cell--12-col-tablet">
  <div class="adbcd-card-image mdl-card mdl-shadow--2dp " [ngStyle]="{'background':'url(https://s6.postimg.org/oqy51je2p/mukesh_malayalam_actor.jpg) no-repeat center/cover'}">
  <div class="mdl-card__title mdl-card--expand"></div>
  <div class="mdl-card__actions">
    <span class="adbcd-card-image__filename">Image.jpg</span>
  </div>
</div>
</div>


 <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-phone mdl-cell--12-col-tablet">
  <div class="adbcd-card-image mdl-card mdl-shadow--2dp " [ngStyle]="{'background':'url(https://s6.postimg.org/oqy51je2p/mukesh_malayalam_actor.jpg) no-repeat center/cover'}">
  <div class="mdl-card__title mdl-card--expand"></div>
  <div class="mdl-card__actions">
    <span class="adbcd-card-image__filename">Image.jpg</span>
  </div>
</div>
</div>


 <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-phone mdl-cell--12-col-tablet">
  <div class="adbcd-card-image mdl-card mdl-shadow--2dp " [ngStyle]="{'background':'url(https://s6.postimg.org/oqy51je2p/mukesh_malayalam_actor.jpg) no-repeat center/cover'}">
  <div class="mdl-card__title mdl-card--expand"></div>
  <div class="mdl-card__actions">
    <span class="adbcd-card-image__filename">Image.jpg</span>
  </div>
</div>
</div>



 </div>


  









 



  
</div>




</div>