
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <div class="android-header mdl-layout__header mdl-layout__header--waterfall">
        <div class="mdl-layout__header-row">
          <span class="android-title mdl-layout-title">
            <img class="android-logo-image" src="assets/images/android-logo.png">
          </span>
          <!-- Add spacer, to align navigation to the right in desktop -->
          <div class="android-header-spacer mdl-layout-spacer"></div>
          <div class="android-search-box mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right mdl-textfield--full-width">
            <label class="mdl-button mdl-js-button mdl-button--icon" for="search-field">
              <i class="material-icons">search</i>
            </label>
            <div class="mdl-textfield__expandable-holder">
              <input class="mdl-textfield__input" type="text" id="search-field">
            </div>
          </div>
          <!-- Navigation -->
          <div class="android-navigation-container">
            <nav class="android-navigation mdl-navigation">
             
              <a class="mdl-navigation__link mdl-typography--text-uppercase" href="">Home</a>
              <a class="mdl-navigation__link mdl-typography--text-uppercase" href="">Movie News</a>
              <a class="mdl-navigation__link mdl-typography--text-uppercase" href="">Top Rated</a>
              <a class="mdl-navigation__link mdl-typography--text-uppercase" href="">About</a>              
              <a class="mdl-navigation__link mdl-typography--text-uppercase" href="">Contact us</a>
              <a class="mdl-navigation__link mdl-typography--text-uppercase" href="">Login</a>
            </nav>
          </div>
          <span class="android-mobile-title mdl-layout-title">
            <img class="android-logo-image" src="assets/images/android-logo.png">
          </span>
          <!--<button class="android-more-button mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect" id="more-button">
            <i class="material-icons">more_vert</i>
          </button>
          <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right mdl-js-ripple-effect" for="more-button">
           <li class="mdl-menu__item" routerLink="/login" *ngIf='!sharedService.sharedvalue.signin' routerLinkActive="active">Login</li>
           <li class="mdl-menu__item"  *ngIf='sharedService.sharedvalue.signin' (click)='logout()'>Logout</li>
          </ul>-->
        </div>
      </div>

      <div class="android-drawer mdl-layout__drawer">
        <span class="mdl-layout-title">
          <img class="android-logo-image" src="assets/images/android-logo-white.png">
        </span>
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="">Movie News</a>
          <a class="mdl-navigation__link" href="">Upcoming</a>
          <a class="mdl-navigation__link" href="">Reviews</a>
          <a class="mdl-navigation__link" href="">Trailers</a>
          <a class="mdl-navigation__link" href="">Music</a>
          <div class="android-drawer-separator"></div>
          <span class="mdl-navigation__link" href="">Log In</span>
           <div class="android-drawer-separator"></div>
          <a class="mdl-navigation__link" href="">Offers</a>

        </nav>
      </div>


   <main class="android-content mdl-layout__content mdl-color--grey-100 ">
     <a name="top"></a>
    <!--<div class="android-be-together-section mdl-typography--text-center">
          <div class="logo-font android-slogan">be together. not the same.</div>
          <div class="logo-font android-sub-slogan">welcome to android... be yourself. do your thing. see what's going on.</div>
          <div class="logo-font android-create-character">
            <a href=""><img src="assets/images/andy.png"> create your android character</a>
          </div>

          <a href="#screens">
            <button class="android-fab mdl-button mdl-button--colored mdl-js-button mdl-button--fab mdl-js-ripple-effect">
              <i class="material-icons">expand_more</i>
            </button>
          </a>
      </div>-->

  
<div class="mdl-grid">

  <div class="mdl-cell mdl-cell--3-col mdl-cell--12-col-phone mdl-cell--12-col-tablet ">

 </div>
 
 <div class="mdl-cell mdl-cell--9-col mdl-cell--12-col-phone mdl-cell--12-col-tablet ">
  <img src="assets/images/munthiri.jpg" alt=''/>
 </div>
 <div class="mdl-cell mdl-cell--3-col mdl-cell--12-col-phone mdl-cell--12-col-tablet ">
 </div>
 <div class="mdl-cell mdl-cell--9-col mdl-cell--12-col-phone mdl-cell--12-col-tablet ">
   <h1>Munthiri Vallikal Thalirkkumbol</h1>
 </div>


  



  
</div>
</main>
</div>