<div class='sidebar mdl-cell mdl-cell--2-col'>
              <div class='img-content'>
              <img src="assets/images/munthiri.jpg"/>
              </div> 
  <div class="countdown" style="height:100px;"></div>


              </div>

<div class="mdl-grid portfolio-max-width">
              
              

                <div class="mdl-grid mdl-cell mdl-cell--12-col mdl-cell--4-col-tablet mdl-card mdl-shadow--4dp img-content">
                    <img src="assets/images/munthiri.jpg"/>
                <div class="mdl-card__menu">
   <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
      <i class="material-icons">share</i>
    </button>
    <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
      <i class="material-icons">favorite_border</i>
    </button>
    <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
      <i class="material-icons">comment</i>
    </button>
    <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
      <i class="material-icons">add</i>
    </button>
  </div>

                </div>

                 <div class="mdl-grid mdl-cell mdl-cell--12-col mdl-cell--4-col-tablet mdl-card mdl-shadow--4dp ">
                   <h1>Munthiri Vallikal Thalirkkumbol</h1>
                   <p>Munthirivallikal Thalirkkumbol (English: When the Grapevines Sprout) is a 2017 Indian Malayalam domestic drama film directed by Jibu Jacob and written by M. Sindhuraj, loosely based on the Malayalam short story Pranayopanishath by V. J. James. Produced and distributed by Weekend Blockbusters of Sophia Paul, the film stars Mohanlal and Meena, respectively as Panchayat secretary Ulahannan and his wife Annyamma. The soundtrack feature songs composed by Bijibal and M. Jayachandran, and a film score by Bijibal. The film shows how Ulahannan, a middle aged man rediscover himself to overcome the boredom in his routine life.</p>

<p>Sindhuraj obtained the right for adapting Pranayopanishath from James when it was first published in a Malayalam magazine in 2011. In 2015, he was approached by Paul for screenwriting a film for Weekend Blockbusters, planned with Mohanlal in the lead role. He suggested a plot idea based on the short story and began developing the screenplay that year, with Jacob hired to direct the film. Principal photography commenced on 15 July 2016 in Kozhikode, Kerala where over 80 percent of the film was shot. Additional portions were shot at various locations in Alappuzha and concluded filming at Shimla in October 2016.</p>

<p>Munthirivallikal Thalirkkumbol was originally set for a Christmas opening, scheduled to be released on 22 December 2016 in India. But was delayed as the screening of Malayalam films were halted at the time due to an indefinite strike between the associations of theatres and producers in Kerala. After the strike, the film was re-scheduled and released in India on 20 January 2017.</p>
                </div>

                 <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-tablet mdl-card mdl-shadow--4dp">
                  </div>
                   <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-tablet mdl-card mdl-shadow--4dp">
                  </div>
                   <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-tablet mdl-card mdl-shadow--4dp">
                  </div>
                   <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-tablet mdl-card mdl-shadow--4dp">
                  </div>
                   <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-tablet mdl-card mdl-shadow--4dp">
                  </div>
                   <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-tablet mdl-card mdl-shadow--4dp">
                  </div>



                <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-card mdl-shadow--4dp">
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">Voluptate voluptate</h2>
                    </div>
                    <div class="mdl-card__media">
                        <a href="#"> <img class="article-image" src=" images/example-blog02.jpg" border="0" alt=""></a>
                    </div>
                    <div class="mdl-card__supporting-text no-bottom-padding">
                        <span>Posted 2 days ago</span>
                        <div id="tt2" class=" icon material-icons portfolio-share-btn" tabindex="0">share</div>
                        <div class="mdl-tooltip" for="tt2" data-upgraded=",MaterialTooltip">
                            Share via social media
                        </div>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <p>Excepteur reprehenderit sint exercitation ipsum consequat qui sit id velit elit. Velit anim eiusmod labore sit amet. Voluptate voluptate irure occaecat deserunt incididunt esse in.</p>
                    </div>
                </div>
                
                 

                <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-card mdl-shadow--4dp">
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">Voluptate voluptate</h2>
                    </div>
                    <div class="mdl-card__media">
                        <a href="#"> <img class="article-image" src=" images/example-blog02.jpg" border="0" alt=""></a>
                    </div>
                    <div class="mdl-card__supporting-text no-bottom-padding">
                        <span>Posted 2 days ago</span>
                        <div id="tt2" class=" icon material-icons portfolio-share-btn" tabindex="0">share</div>
                        <div class="mdl-tooltip" for="tt2" data-upgraded=",MaterialTooltip">
                            Share via social media
                        </div>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <p>Excepteur reprehenderit sint exercitation ipsum consequat qui sit id velit elit. Velit anim eiusmod labore sit amet. Voluptate voluptate irure occaecat deserunt incididunt esse in.</p>
                    </div>
                </div>
               
               
               
                <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-card  mdl-card mdl-shadow--4dp">
                    <div class="mdl-card__title mdl-card--expand portfolio-blog-card-strip-bg mdl-color-text--white">
                        <h2 class="mdl-card__title-text">adipiscing</h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenan convallis.
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" data-upgraded=",MaterialButton,MaterialRipple">
                          View Updates
                        <span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></a>
                    </div>
                </div>

                 <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-card  mdl-card mdl-shadow--4dp">
                    <div class="mdl-card__title mdl-card--expand portfolio-blog-card-strip-bg mdl-color-text--white">
                        <h2 class="mdl-card__title-text">adipiscing</h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenan convallis.
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" data-upgraded=",MaterialButton,MaterialRipple">
                          View Updates
                        <span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></a>
                    </div>
                </div>

              
            </div>



<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>

<script>
$(document).ready(function() {
  console.log('ready')
  var flip = new FlipClock({
    isCountdown: true,
    startTime: '31:00:00:05',
    containerElement: $('.countdown'),
    face: {
      days: {
        maxValue: 31
      },
      hours: {
        maxValue: 23
      },
      minutes: {
        maxValue: 59
      },
      seconds: {
        maxValue: 59
      }
    }
  });
});

/**
 * FlipClock
 * @param options
 * @constructor
 */
FlipClock = function (options) {
    this.tickInterval = false;
    this.digitSelectors = [];
    this.options = this.createConfig(options);

    this.init();
};

/**
 * returns merged config based on passed config + default config
 * @param options - config object
 * @returns options merged config objects
 */
FlipClock.prototype.createConfig = function(options) {
    return $.extend( {}, this.getDefaultConfig(), options );
};

/**
 * returns default config object
 */
FlipClock.prototype.getDefaultConfig = function() {
    return {
        tickDuration: 1000,
        isCountdown: false,
        startTime: '23:59:51',
        maxTime: '23:59:59',
        minTime: '00:00:00',
        containerElement: $('.container'),
        segmentSelectorPrefix: 'flipclock-',
        face: {
            hours: {
                maxValue: 23
            },
            minutes: {
                maxValue: 59
            },
            seconds: {
                maxValue: 59
            }
        }
    };
};

/**
 * check browser feature support
 */
FlipClock.prototype.initFeatureDetection = function() {
    $.support.transition = (function(){
        var thisBody = document.body || document.documentElement,
            thisStyle = thisBody.style,
            support = thisStyle.transition !== undefined || thisStyle.WebkitTransition !== undefined || thisStyle.MozTransition !== undefined || thisStyle.MsTransition !== undefined || thisStyle.OTransition !== undefined;
        return support;
    })();
};

/**
 * return browser support for given feature
 * @param feature
 * @returns {*}
 */
FlipClock.prototype.isFeatureSupported = function(feature) {
    if(feature && typeof $.support !== undefined && typeof $.support[feature] !== undefined) {
        return $.support[feature];
    }

    return false;
};

/**
 * init
 */
FlipClock.prototype.init = function() {
    this.options.containerElement.empty();

    if (this.tickInterval !== false) {
        clearInterval(this.tickInterval);
        this.tickInterval = false;
    }

    this.appendMarkupToContainer();
    this.setDimensions();

    this.setupFallbacks();

    this.start();
};

/**
 * setupFallbacks
 */
FlipClock.prototype.setupFallbacks = function() {
    this.initFeatureDetection();

    if (this.isFeatureSupported('transition')) {
        $('ul.flip li:first-child', this.options.containerElement).css("z-index", 2);
    } else {
        // < IE9 can't do css animations (@keyframe) - need to fix z-index here since we're setting z-indices inside the keyframe-steps
        $('ul.flip li:first-child', this.options.containerElement).css("z-index", 3);

        // < IE9 doesn't understand nth-child css selector => fallback class that has to be addressed via css separatly
        $('ul.flip:nth-child(2n+2):not(:last-child)', this.options.containerElement).addClass('nth-child-2np2-notlast');
    }
};

/**
 * Sets digit dimensions based on its containers height
 */
FlipClock.prototype.setDimensions = function() {
    var flipHeight = this.options.containerElement.height(),
        flipWidth = flipHeight/1.5;

    $('ul.flip', this.options.containerElement).css({
        width: flipWidth,
        fontSize: (flipHeight - 10) + 'px'
    }).find('li').css({
        lineHeight: (flipHeight) + 'px'
    });
};

/**
 * Creates segments out of 'digits', calculates ticks per digit based on segment maxValue
 * @param faceSegmentGroupName
 * @returns {Array}
 */
FlipClock.prototype.createSegment = function(faceSegmentGroupName) {
    var faceSegmentGroup = this.options.face[faceSegmentGroupName],
        segmentSelectorAddons = ['-ten', '-one'],
        rounded = Math.ceil(faceSegmentGroup.maxValue/10),
        segment = [];

    if (faceSegmentGroup.maxValue/10 > 1) {
        segment = [
            {
                selector: this.options.segmentSelectorPrefix + faceSegmentGroupName + segmentSelectorAddons[0],
                ticks: rounded
            },{
                selector: this.options.segmentSelectorPrefix + faceSegmentGroupName + segmentSelectorAddons[1],
                ticks: 10
            }
        ];
    } else {
        segment = [
            {
                selector: this.options.segmentSelectorPrefix + faceSegmentGroupName + segmentSelectorAddons[1],
                ticks: 10
            }
        ]
    }

    return segment;
};

/**
 * Appends the markup for each digit to the container
 */
FlipClock.prototype.appendMarkupToContainer = function() {
    var baseZIndex = 0;
    
    for (var faceSegmentGroup in this.options.face) {
        this.options.face[faceSegmentGroup].segments = this.createSegment(faceSegmentGroup);

        for (var i=0; i < this.options.face[faceSegmentGroup].segments.length; i++) {
            var faceSegmentElement = this.createFaceSegment( this.options.face[faceSegmentGroup].segments[i] );

            this.digitSelectors.push(this.options.face[faceSegmentGroup].segments[i].selector);
            this.options.containerElement.append( faceSegmentElement );

            // assign common data-attribute to segments of the same group
            faceSegmentElement.data('face-segment-group', faceSegmentGroup);
            faceSegmentElement.addClass(faceSegmentGroup);
            faceSegmentElement.css("z-index", baseZIndex++);
        }
    }

    this.digitSelectors.reverse();

//    var self = this;
//    $(document).on('keyup', function(e) {
//        if(e.keyCode === 13) {
//            self.stop();
//        }
//    });
};

/**
 * Creates face segments
 * @param faceSegment
 * @returns {*|jQuery|HTMLElement}
 */
FlipClock.prototype.createFaceSegment = function(faceSegment) {
    var faceElement = $('<ul>', {
        "class": "flip " + faceSegment.selector
    });

    for (var i = 0; i < faceSegment.ticks; i++) {
        var digit = i;

        faceElement.append( this.createFaceDigit(digit) );
    }

    return faceElement;
};

/**
 * Creates digit markup
 * @param digit
 * @returns {string}
 */
FlipClock.prototype.createFaceDigit = function(digit) {
    var digitInnerFragment = '<div class="shadow"></div><div class="inn">' + digit + '</div>';

    return '<li data-digit=' + digit + ' ><span>' +
            '<div class="up">' + digitInnerFragment + '</div>' +
            '<div class="down">' + digitInnerFragment + '</div>' +
           '</span></li>';
};

/**
 * Starts the clock
 */
FlipClock.prototype.start = function() {
    this.setToTime(this.options.startTime);

    var self = this;

    this.tickInterval = setInterval(function () {
        self.tick();
    }, this.options.tickDuration);
};

/**
 * Stops the Clock after the current interval is finished
 */
FlipClock.prototype.stop = function() {
    clearInterval(this.tickInterval);
};

/**
 * Resets to 00:00:00....
 * needed when using this as an actual clock - e.g. can reset to 0 after 23:59:59
 */
FlipClock.prototype.resetDigits = function() {
    this.options.containerElement.removeClass('play');

    for (var i=0; i<this.digitSelectors.length; i++) {
        var active = $(this.getDigitSelectorByIndex(i) + ".current", this.options.containerElement),
            all = $(this.getDigitSelectorByIndex(i), this.options.containerElement),
            first = $(this.getDigitSelectorByIndex(i) + ":first-child", this.options.containerElement);

        all.eq(0).addClass("clockFix");
        all.removeClass("current");

        first.addClass("current");

        all.removeClass("previous");
        active.addClass("previous");
    }

    this.options.containerElement.addClass('play');
};

/**
 * Sets the clock to a time based on passed string
 * @param time {string} 00:00:00...
 */
FlipClock.prototype.setToTime = function(time) {
    var timeArray = time.replace(/:/g, '').split('').reverse();

    for (var i=0; i<this.digitSelectors.length; i++) {
        var digit = $(this.getDigitSelectorByIndex(i), this.options.containerElement).eq(parseInt(timeArray[i]));

        this.options.containerElement.removeClass('play');

        digit.addClass("current");
        this.options.containerElement.addClass('play');
    }
};

/**
 * Set Segment to its maximum value
 * @param segmentGroupName
 */
FlipClock.prototype.setFaceSegmentGroupMaxValue = function(segmentGroupName) {
    var self = this;
    var group = this.getFaceSegmentGroupDom(segmentGroupName);

    group.each(function(idx) {
        self.options.containerElement.removeClass('play');

        var maxValue = self.options.face[segmentGroupName].maxValue.toString().split('');

        $(this).find('li.current').removeClass('current');
        $(this).find('li[data-digit="'+maxValue[idx]+'"]').addClass('current');

        self.options.containerElement.addClass('play');
    });
};

/**
 * actual callback for the tick/interval
 */
FlipClock.prototype.tick = function() {
    this.doTick(0);
};

/**
 * Returns current time as int
 * @returns {Number}
 */
FlipClock.prototype.getCurrentTime = function() {
    var currentTime = [];

    $('li.current', this.options.containerElement).each(function() {
        currentTime.push($(this).data('digit'));
    });

    return parseInt(currentTime.join(''), 10);
};

/**
 * gets digit selector string for the given index in the digitselectors array
 * @param digitIndex
 * @returns {string}
 */
FlipClock.prototype.getDigitSelectorByIndex = function(digitIndex) {
    return 'ul.' + this.digitSelectors[digitIndex] + ' li';
};

/**
 * Return the segment group name for a passed digit element
 * @param digitElement
 * @returns {*}
 */
FlipClock.prototype.getFaceSegmentGroupNameByDigitElement = function(digitElement) {
    return digitElement.parent().data('face-segment-group');
};

/**
 * Return the segment group object for a passed digit element
 * @param digitElement
 * @returns {*}
 */
FlipClock.prototype.getFaceSegmentByDigitElement = function(digitElement) {
    return this.options.face[this.getFaceSegmentGroupNameByDigitElement(digitElement)];
};

/**
 * Return segment group dom objects by segment group name
 * @param segmentGroupName
 * @returns {*|jQuery|HTMLElement}
 */
FlipClock.prototype.getFaceSegmentGroupDom = function(segmentGroupName) {
    return $('.' + segmentGroupName, this.options.containerElement)
};

/**
 * Return dom object for the currently active digit for a segment group name
 * @param segmentGroupName
 * @returns {*|jQuery|HTMLElement}
 */
FlipClock.prototype.getCurrentDigitDom = function(segmentGroupName) {
    return $('.' + segmentGroupName + ' li.current', this.options.containerElement)
};

/**
 * Returns the value a segment group is currently representing selected by digit element
 * @param digitElement
 * @returns {string}
 */
FlipClock.prototype.getCurrentFaceSegmentGroupValue = function(digitElement) {
    var segmentGroupName = this.getFaceSegmentGroupNameByDigitElement(digitElement),
        values = [];

    this.getCurrentDigitDom(segmentGroupName).each(function(idx) {
        values[idx] = $(this).data('digit');
    });

    return values.join('');
};

/**
 * handles the tick logic
 * @param digitIndex
 */
FlipClock.prototype.doTick = function(digitIndex) {
    var nextDigit, pseudoSelector;

    // check if we reached maxTime and start over at 00:00:00
    if ( this.options.isCountdown === false && this.isMaxTimeReached() ) {
        this.resetDigits();
        return;
    }

    this.options.containerElement.removeClass('play');

    if ( this.options.isCountdown === true ) {
        pseudoSelector = ":first-child";
    } else {
        pseudoSelector = ":last-child";
    }

    var activeDigit = $(this.getDigitSelectorByIndex(digitIndex) + ".current", this.options.containerElement);

    if (activeDigit.html() == undefined) {
        if (this.options.isCountdown) {
            activeDigit = $(this.getDigitSelectorByIndex(digitIndex) + ":last-child", this.options.containerElement);
            nextDigit = activeDigit.prev("li");
        } else {
            activeDigit = $(this.getDigitSelectorByIndex(digitIndex), this.options.containerElement).eq(0);
            nextDigit = activeDigit.next("li");
        }

        activeDigit.addClass("previous").removeClass("current");

        nextDigit.addClass("current");
    } else if (activeDigit.is(pseudoSelector)) {
        $(this.getDigitSelectorByIndex(digitIndex), this.options.containerElement).removeClass("previous");

        // countdown target reached, halt
        if (this.options.isCountdown === true && this.isMinTimeReached()) {
            this.stop();
            return;
        }

        activeDigit.addClass("previous").removeClass("current");

        if (this.options.isCountdown === true) {
            activeDigit.addClass("countdownFix");
            activeDigit = $(this.getDigitSelectorByIndex(digitIndex) + ":last-child", this.options.containerElement);
        } else {
            activeDigit = $(this.getDigitSelectorByIndex(digitIndex), this.options.containerElement).eq(0);
            activeDigit.addClass("clockFix");
        }

        activeDigit.addClass("current");

        // animate the next segment once (if there is one)
        if (typeof this.digitSelectors[digitIndex + 1] !== "undefined") {
            this.doTick(digitIndex + 1);
        }
    } else {
        $(this.getDigitSelectorByIndex(digitIndex), this.options.containerElement).removeClass("previous");

        activeDigit.addClass("previous").removeClass("current");

        if (this.options.isCountdown === true ) {
            nextDigit = activeDigit.prev("li");
        } else {
            nextDigit = activeDigit.next("li");
        }

        nextDigit.addClass("current");
    }

    // set segment to maxValue if it would move past it
    var group = this.getFaceSegmentByDigitElement(activeDigit);
    if (this.getCurrentFaceSegmentGroupValue(activeDigit) > group.maxValue) {
        this.setFaceSegmentGroupMaxValue(this.getFaceSegmentGroupNameByDigitElement(activeDigit));
    }

    this.options.containerElement.addClass('play');
    this.cleanZIndexFix(activeDigit, this.digitSelectors[digitIndex]);
};

/**
 * isMaxTimeReached
 * @returns {boolean}
 */
FlipClock.prototype.isMaxTimeReached = function() {
    return this.getCurrentTime() >= parseInt(this.options.maxTime.replace(/:/g, ''), 10);
};

/**
 * isMinTimeReached
 * @returns {boolean}
 */
FlipClock.prototype.isMinTimeReached = function() {
    return this.getCurrentTime() <= parseInt(this.options.minTime.replace(/:/g, ''), 10);
};

/**
 * Fixes flickering top half of digit
 *
 * @param activeDigit
 * @param selector
 */
FlipClock.prototype.cleanZIndexFix = function(activeDigit, selector) {
    if (this.options.isCountdown === true) {
        var fix = $('.' + selector + ' .countdownFix', this.options.containerElement);

        if (fix.length > 0 && !fix.hasClass("previous") && !fix.hasClass("current")) {
            fix.removeClass("countdownFix");
        }
    } else {
        activeDigit.siblings().removeClass("clockFix");
    }
};


$(document).ready(function() {
  var flip = new FlipClock({
    isCountdown: true,
    startTime: &#39;31:00:00:05&#39;,
    containerElement: $(&#39;.countdown&#39;),
    face: {
      days: {
        maxValue: 31
      },
      hours: {
        maxValue: 23
      },
      minutes: {
        maxValue: 59
      },
      seconds: {
        maxValue: 59
      }
    }
  });
});

</script>